body{
  background-color: pink;
}

.main-div{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    gap: 30px;
}

.cat{
    width: 400px;
    margin-left:auto;
    margin-right: auto;
    display:flex;   
     flex-direction: row;
  
}

.hello-button{
    display:flex;
    flex-direction: row;

    margin-left:auto;
    margin-right: auto;
}

.hello-text{
  display:flex;
  flex-direction: row;
  margin-left:auto;
  margin-right: auto;
  font-size: 100px;
}

.hello-wife{
  font-size:80px;
}

.btn {
    border: none;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    height: 200px;
    width: 500px;
    font-size: 30px;
  
  }

  .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  /* Pseudo elements for icons */
  .btn:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }
  
  
  /* Icon separator */
  .btn-sep {
    padding: 25px 60px 25px 200px;
  }
  
  .btn-sep:before {
    background: rgba(0,0,0,0.15);
  }
  
  /* Button 1 */
  .btn-1 {
    background: #3498db;
    color: #fff;
  }
  
  .btn-1:hover {
    background: #2980b9;
  }
  
  .btn-1:active {
    background: #2980b9;
    top: 2px;
  }
  
  .btn-1:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }

  .btn-2 {
    background: #ff0543;
    color: #fff;
  }
  
  .btn-2:hover {
    background: #ca0536;
  }
  
  .btn-2:active {
    background: #ff275d;
    top: 2px;
  }
  
  .btn-2:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }

  .icon-kitty:before {
    content: url("./hello.png");
  }

  .icon-angre:before {
    content: url("./angre.jpg");
  }

  .icon-laugh:before {
    content: url("./laugh.jpg");
  }

  #secondDiv{
    display: none;
  }

  #thirdDiv{
    display: none;
  }

  .wife{
    height: 400px;
    width: auto;
  }

  .no-button{
    transition: none;
     width: 500px;
  }